#body {
    width: 80%;
    margin: 20px auto;
  }
  
  #header {
    margin: 20px auto;
  }
  
  #form {
    width: 40%;
  }
  
  label,
  .btn {
    margin-top: 10px;
    margin-bottom: 10px;
  }